      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Projects</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th>
                          Room ID
                      </th>
                      <th>
                          Name
                      </th>
                      <th>
                          Floor
                      </th>
                      <th>
                          Capacity
                      </th>
                      <th>
                        Description
                    </th>
                    <th>
                        Facility
                    </th>
                    <th>
                        Status
                    </th>

                      <th style="width: 8%" class="text-center">
                          Action
                      </th>
                      
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let room of rooms">
                      <td>
                          {{room._id}}
                      </td>
                      <td>
                          
                              {{room.name}}
                          
                      </td>
                      <td>
                            {{room.floor}}
                      </td>
                      <td class="project-state">
                        {{room.capacity}}                      
                    </td>
                    <td class="time">
                        {{room.description}}                      
                    </td>
                    <td class="status">
                        {{room.facility}}                      
                    </td>
                    <td class="message">
                        {{room.status}}                      
                    </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-success btn-sm">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Approve
                          </a>
                          <a class="btn btn-danger btn-sm">
                            <i class="fas fa-trash">
                            </i>
                            Reject
                        </a>
                          <a class="btn btn-danger btn-sm">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                      </td>
                  </tr>
                  
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->